

.first-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.box1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(215, 226, 237, 0.3);
    width: 80%;
    height: 90%;
    margin: 0em auto;
    padding: 3em 2em;
    margin: 0 auto;
}

.fa-solid.fa-mobile-screen,
.fa-regular.fa-envelope {
    font-size: 3em;
}

.box1 h2,
.box1 h3 {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.box1 p {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.second-section {
    margin: 1em 0;
}

.box2 {
    margin-bottom: 4em;
}

.box2 p {
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

.contact_form_group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contact_form {
    border: 2px solid #A0A0A0;
    border-radius: 10px;
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    color: #6B6F72;
    margin: 4px auto;
    padding: 0.5em;
    width: 85%;
}

.submit_button {
    background-color: #4B5661;
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.2em;
    padding: 0.3em 1.5em;
    border-radius: 5px;
    border: 1px solid #2F3336;
    color: #ffffff;
    margin-top: 0.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


@media (min-width: 955px) {

    main {
        width: 955px;
        margin: 0 auto;
    }

    .first-section {
        display: flex;
        flex-direction: row;
        gap: 1em;
        width: 930px;
        margin: 0 auto;
    }

    .box1 {
        padding: 3em 0em;
    }

    .box2 {
        width: 97%;
    }

    .box2 p {
        width: 480px;
        margin: 0 auto;
    }

    .contact_form_group {
        width: 480px;
    }

    .contact_form {
        border: 2px solid #A0A0A0;
        border-radius: 10px;
        font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        color: #6B6F72;
        margin: 4px;
        padding: 0.5em;
        width: 480px;
    }

}