h1 {
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 2em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

input {
    border-radius: 26px;
    border: none;
    padding: 0.8em;
    background-color: #EFFAFF;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 300;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 1em;
}

input::placeholder {
    color: #4F4F4F;
}

#searchForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#searchButton {
    background-color: #2F3336;
    color: #ffffff;
    width: 100px;
    margin: 1.5em auto;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    border-radius: 40px;
    border: none;
    padding: 0.5em 1em;
}

#weather-nearby {
    background-color: rgba(215, 226, 237, 0.6);
    width: 300px;
    height: 300px;
    display: flex;
    margin: 1em auto;
    margin-bottom: 4em;
}

@media (min-width: 750px) {    

    main {
        width: 700px;
        margin: 0 auto;
    }

    h1 {
        text-align: left;
    }
   
    input {
        width: 700px;
    }

    #searchForm {
        display: flex;
        flex-direction: column;
        width: 700px;
        margin: 0 auto;
    }

    #searchButton {
        width: 250px;
    }

    #weather-nearby {
        width: 700px;
    }

    

}