.heading {
    margin-left: 0;
}

.topofpage {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    gap: 1em;
}

.temperature {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: row;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.now {
    color: #424343;
    flex-direction: row;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.degree {
    font-size: 1.5em;
    font-weight: 700;
}

.topDetails {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.topIcons {
    font-size: 1.2em;
}

.timesofday {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10%;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    color: #4F4F4F;
    margin-right: 5%;
}

.background {
    margin: 0 auto;
}

.date {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    text-align: left;
    margin-left: 0.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.temperatures {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin: 0 0 0 0.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.numbers {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    color: #6B6F72;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.wind-rain {
    margin: 0.5em 0 0 0.5em;
}





@media (min-width: 955px) {

    main {
        width: 955px;
        margin: 0 auto;
    }

    .topofpage {
        width: 100%;
    }

    .background {
        width: 100%;
        margin: 0;
        padding: 1em 0;
    }

    .timesofday {
        margin-right: 0;
    }
    
}