@import 'tailwindcss';

@theme {
  --font-display: 'Open Sans', Helvetica, sans-serif;
  --font-roboto: 'Roboto', Arial, sans-serif;
  --font-inter: 'Inter', Arial, sans-serif;
  --color-background: #d7e2ed;
  --color-footer: #2f3336;
  --color-search: #4f4f4f;
  --color-searchbar: #effaff;
  --color-border: #939393;
  --color-background-secondary: rgba(215, 226, 237, 0.6);
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

body {
  background-image: url('/assets/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
